openapi: 3.1.0
info:
  title: Platform Telegram Bot Gateway
  version: 2.0.0
  description: |
    The Telegram gateway has two roles:

    1. INBOUND (polling bot): Receives messages from Telegram users and forwards
       them to UPSTREAM_URL as structured JSON envelopes. UPSTREAM_URL must return
       a JSON object; if it contains a "reply_text" key the gateway sends it as a
       reply to the Telegram user.

    2. OUTBOUND (send API): HTTP server on SEND_API_PORT (default 3000). Exposes
       GET /health and POST /send so that platform services (e.g. shogun-core) can
       push proactive messages to any allowed Telegram chat without waiting for user
       input. Auth: X-Send-Secret header (set SEND_SECRET env var).

    Servers: telegram.platform.ibbytech.com (Traefik → port 3000 inside container)
    Internal: http://platform-telegram-gateway:3000 (platform_net)
    Localhost: http://127.0.0.1:3000 (host-port binding for validation)

    Message types (inbound envelope kinds):
      - text       — regular text messages and commands
      - location   — location share (initial and live updates)
      - photo      — image with optional caption
      - document   — file attachment with optional caption
      - voice      — voice message

servers:
  - url: https://telegram.platform.ibbytech.com
    description: FQDN via Traefik (HTTPS)
  - url: http://telegram.platform.ibbytech.com
    description: FQDN via Traefik (HTTP)
  - url: http://platform-telegram-gateway:3000
    description: Docker internal (platform_net)
  - url: http://127.0.0.1:3000
    description: Localhost (host-port binding)

paths:

  /health:
    get:
      summary: Liveness check
      description: Returns gateway mode and process uptime. No auth required.
      operationId: getHealth
      responses:
        "200":
          description: Gateway is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  mode:
                    type: string
                    enum: [polling, webhook]
                    example: polling
                  uptime:
                    type: number
                    description: Process uptime in seconds
                    example: 3600.4

  /send:
    post:
      summary: Send a message to a Telegram chat
      description: |
        Push a message to any allowed Telegram chat. Used by shogun-core for
        proactive messages: morning briefings, location-triggered alerts, etc.

        Auth: If SEND_SECRET env var is set, callers must include header
        X-Send-Secret: <value>. Returns 401 if missing or wrong.
      operationId: postSend
      security:
        - SendSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendRequest"
      responses:
        "200":
          description: Message sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendSuccess"
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid or missing X-Send-Secret header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Telegram API error or internal failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    SendSecret:
      type: apiKey
      in: header
      name: X-Send-Secret
      description: |
        Shared secret for POST /send. Set SEND_SECRET env var on the gateway.
        Callers (e.g. shogun-core) must send X-Send-Secret: <value>.
        If SEND_SECRET is empty, auth is disabled (dev only).

  schemas:

    SendRequest:
      type: object
      required:
        - chat_id
        - text
      properties:
        chat_id:
          type: string
          description: Telegram chat ID (numeric string, negative for groups)
          example: "123456789"
        text:
          type: string
          description: Message text. Truncated to 3500 characters.
          example: "Good morning! Here is your Japan briefing for today."
        parse_mode:
          type: string
          enum: [Markdown, MarkdownV2, HTML]
          nullable: true
          description: Optional Telegram parse mode for formatting.
          example: Markdown

    SendSuccess:
      type: object
      properties:
        ok:
          type: boolean
          example: true
        message_id:
          type: integer
          description: Telegram message_id of the sent message
          example: 99

    ErrorResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
          example: "chat_id and text are required"

    TelegramEnvelope:
      type: object
      description: |
        The JSON payload POSTed by the Telegram gateway to UPSTREAM_URL for
        every received message. UPSTREAM_URL must return a JSON object. If the
        object contains a "reply_text" key, the gateway sends it as a reply
        to the Telegram user. Any other response (or empty response) is ignored.
      required:
        - receipt_id
        - received_at
        - kind
        - update
        - from
        - chat
        - message
        - capabilities
        - payload
      properties:
        receipt_id:
          type: string
          description: Random hex ID generated per envelope for deduplication / logging.
          example: "a1b2c3d4e5f6a7b8"
        received_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the message was received.
          example: "2026-03-11T18:00:00.000Z"
        kind:
          type: string
          enum: [text, location, photo, document, voice]
          description: Telegram message type.
        update:
          type: object
          properties:
            update_id:
              type: integer
              nullable: true
        from:
          $ref: "#/components/schemas/TelegramUser"
        chat:
          $ref: "#/components/schemas/TelegramChat"
        message:
          $ref: "#/components/schemas/TelegramMessageMeta"
        capabilities:
          $ref: "#/components/schemas/GatewayCapabilities"
        payload:
          description: |
            Kind-specific content. Schema depends on the "kind" field.
            See TextPayload, LocationPayload, PhotoPayload, DocumentPayload, VoicePayload.
          oneOf:
            - $ref: "#/components/schemas/TextPayload"
            - $ref: "#/components/schemas/LocationPayload"
            - $ref: "#/components/schemas/PhotoPayload"
            - $ref: "#/components/schemas/DocumentPayload"
            - $ref: "#/components/schemas/VoicePayload"

    TelegramUser:
      type: object
      properties:
        user_id:
          type: integer
          nullable: true
        username:
          type: string
          nullable: true
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        language_code:
          type: string
          nullable: true
          example: "en"

    TelegramChat:
      type: object
      properties:
        id:
          type: integer
          nullable: true
          description: Telegram chat ID (negative for groups/supergroups)
        type:
          type: string
          nullable: true
          enum: [private, group, supergroup, channel]
        title:
          type: string
          nullable: true
          description: Group/channel title. Null for private chats.

    TelegramMessageMeta:
      type: object
      properties:
        message_id:
          type: integer
          nullable: true
        date:
          type: integer
          nullable: true
          description: Unix timestamp of the original message
        reply_to_message_id:
          type: integer
          nullable: true
          description: message_id this message is replying to, if any

    GatewayCapabilities:
      type: object
      description: Capability flags set by the gateway operator via env vars.
      properties:
        can_search:
          type: boolean
          description: CAP_CAN_SEARCH — whether upstream may perform web searches
        can_scrape:
          type: boolean
          description: CAP_CAN_SCRAPE — whether upstream may scrape URLs
        can_fetch_files:
          type: boolean
          description: CAP_CAN_FETCH_FILES — whether upstream may download file attachments

    TextPayload:
      type: object
      description: Payload for kind=text messages
      properties:
        text:
          type: string
          description: The message text (may include /command prefixes)
        entities:
          type: array
          description: Telegram message entities (bold, links, mentions, etc.)
          items:
            type: object

    LocationPayload:
      type: object
      description: Payload for kind=location messages (initial share and live updates)
      properties:
        location:
          type: object
          nullable: true
          properties:
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
            horizontal_accuracy:
              type: number
              nullable: true
            live_period:
              type: integer
              nullable: true
              description: Seconds this live location is active (null if not live)
            heading:
              type: integer
              nullable: true
            proximity_alert_radius:
              type: integer
              nullable: true

    PhotoPayload:
      type: object
      description: Payload for kind=photo messages
      properties:
        caption:
          type: string
          description: Optional photo caption
        photos:
          type: array
          description: Array of photo size variants (Telegram sends multiple resolutions)
          items:
            type: object
            properties:
              file_id:
                type: string
              file_unique_id:
                type: string
              width:
                type: integer
              height:
                type: integer
              file_size:
                type: integer
                nullable: true

    DocumentPayload:
      type: object
      description: Payload for kind=document messages (file attachments)
      properties:
        caption:
          type: string
        document:
          type: object
          nullable: true
          properties:
            file_id:
              type: string
            file_unique_id:
              type: string
            file_name:
              type: string
              nullable: true
            mime_type:
              type: string
              nullable: true
            file_size:
              type: integer
              nullable: true

    VoicePayload:
      type: object
      description: Payload for kind=voice messages
      properties:
        voice:
          type: object
          nullable: true
          properties:
            file_id:
              type: string
            file_unique_id:
              type: string
            duration:
              type: integer
              description: Voice message duration in seconds
            mime_type:
              type: string
              nullable: true
            file_size:
              type: integer
              nullable: true

    UpstreamResponse:
      type: object
      description: |
        Expected response from UPSTREAM_URL. The gateway only acts on reply_text.
        All other keys are ignored. Return an empty object {} or omit reply_text
        to suppress any bot reply.
      properties:
        reply_text:
          type: string
          nullable: true
          description: |
            If present and non-null, the gateway sends this text back to the
            Telegram chat as a reply. Truncated to 3500 characters. The bot
            must have permission to send messages in the target chat.
          example: "Your request has been received. Receipt: a1b2c3d4e5f6a7b8"
